NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
BUNNY_LIBRARY_ID=
BUNNY_API_KEY=
BUNNY_CDN_HOSTNAME=
BUNNY_PULL_ZONE=
NEXT_PUBLIC_SUPPORT_PHONE=0525077410
NEXT_PUBLIC_SUPPORT_EMAIL=Eliasalem74@gmail.com
